nav {
    background-color: gray;

    a {
        color: white;
    }

    .dropdown-menu {
        background-color: gray;

        a:hover {
            background-color: rgba(128, 128, 128, 0.521);
        }
    }
}